body {
    background-color: rgb(224, 224, 224);
    color: black;
}

a, a:visited, a:active, a:hover {
    color: #666584;
}

#kontener1 {
    background-color: #5c6b7b;
    width: 650px;
}

#kontener2 {
    background-color: white;
    width: 600px;
}
