/*Tartalom letolása a navigációs sávtól*/

main > .container {
    padding: 60px 15px 0px;
}

.nav-egyedi {
    background-color: rgba(58, 58, 58);
}

.nav-logo {
    max-height: 3rem;
    max-width: auto;
    filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255))
}

.footer-egyedi {
    background-color: rgba(58, 58, 58);
}

.gomb-altalanos-sotet {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    width: 5rem;
}

.gomb-altalanos-sotet:hover {
    color: black;
    background-color: white;
    border-color: white;
}

.header-hatter-kezdolap {
    background-image: url(../images/hatterkep3.jpg);
    background-color: white;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
}

.nagyitas-effekt :hover {
    transform: scale(1.1);
    transition: transform(1.2s)
}

.gomb-platformsotet-steam {
    color: white;
    min-width: 10rem;
    height: auto;
    background-image: url(../images/steam-platform-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: over;
    padding: 1.50rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.gomb-platformsotet-xbox {
    color: white;
    min-width: 10rem;
    height: auto;
    background-image: url(../images/xbox-platform-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: over;
    padding: 1.50rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.gomb-platformsotet-ps {
    color: white;
    min-width: 10rem;
    height: auto;
    background-image: url(../images/ps4-platform-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: over;
    padding: 1.50rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

