/*Tartalom letolása a navigációs sávtól*/

main > .container {
    padding: 60px 15px 0px;
}

.nav-egyedi {
    background-color: rgba(58, 58, 58);
}

.nav-logo {
    max-height: 3rem;
    max-width: auto;
    filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255))
}

.footer-egyedi {
    background-color: rgba(58, 58, 58);
}

.gomb-altalanos-sotet {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    width: 5rem;
}

.gomb-altalanos-sotet:hover {
    color: black;
    background-color: white;
    border-color: white;
}